/* Override Bootstrap's bg-primary */
.bg-primary {
  background-color: #263238 !important;
}

/* Change navbar text color */
.navbar-dark .navbar-nav .nav-link {
  color: #ffc727 !important;
  font-weight: 500;
}

/* Change navbar brand color */
.navbar-dark .navbar-brand {
  color: #ffc727 !important;
}

/* Change active and hover link color */
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #dbdbdb !important;
}

/* Style the login button */
.btn-light {
  background-color: #ffc727 !important;
  color: #263238 !important;
  border: none;
}

.btn-light:hover {
  background-color: #fcbb0a !important;
  color: #263238 !important;
}

.btn-outline-dark:hover {
  background-color: #263238 !important;
  border-color: #263238 !important;
}

.text-primary {
  color: #ffc727 !important;
}

.btn-outline-primary {
  border-color: #263238 !important;
  color: #263238 !important;
}

.btn-outline-primary:hover {
  background-color: #263238 !important;
  color: white !important; /* Ensures contrast on hover */
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    filter: invert(0) grayscale(100); /* Makes it black */
}
